.gpt3__possibility{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.gpt3__possibility-image img{
    width: 546px;
    height: 607.53px;
    left: 723px;
    margin-top: 2416px;
}