.gpt3__features{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.gpt3__features-heading{
    display: flex;
    flex-direction: column;
    max-width: 426px;
    justify-content: flex-start;
}
.gpt3__features-heading h1{
    font-family: var(--font-family);
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
}